YKI_ENGINE_PORT=8080
YKI_ENGINE_API_KEY=change-me
YKI_SUPABASE_URL=https://dtdygokcjjoprqfjmmcz.supabase.co
YKI_SUPABASE_SERVICE_ROLE_KEY=
YKI_STORAGE_BUCKET=yki-media
WAN_MODEL_PATH=
YKI_ENGINE_CONCURRENCY=1
